__pycache__/
*.py[cod]
*$py.class

*.pyo
*.pyd

build/
dist/
*.egg-info/
.eggs/
MANIFEST

.venv/
venv/
env/
ENV/

.idea/

.pytest_cache/
.cache/
.coverage
coverage.xml
htmlcov/
nosetests.xml
test-results.xml

screenshots/
reports/
logs/
geckodriver.log
chromedriver.log

.DS_Store
Thumbs.db
Desktop.ini

.env
.env.*
*.log
*.tmp
*.swp
*.swo
